
body {
  font-family: "Anonymous Pro", "Monaco", "Courier New", Courier, monospace;
  font-size: 1em;
}

footer {
  font-size: .8em;
  margin-top: 1em;
}

table {
  margin: 0, auto;
  border-collapse: separate;
  border-spacing: .2em;
}

thead a {
  color: black;
  text-decoration: none;
}

th:not(:first-child),
td:not(:first-child) {
  padding-right: 1em;
}

thead th {
  text-align: left;
}

#sprites {
  width:0;
  height:0;
  visibility:hidden;
  display: none;
}

.hidden {
  display: none !important;
}

.right-align {
  text-align: right;
}

th svg.octicon {
  width: 12px;
  height: 12px;
  margin-left: .5em;
}

.contents svg.octicon {
  fill: rgba(60, 60, 60, 0.5);
  width: 16px;
  height: 16px;
}

