
body { font-family: "Anonymous Pro", "Monaco", "Courier New", Courier, monospace; }

table { margin: 0, auto; border-collapse: separate; border-spacing: .2em; }
thead a { color: black; text-decoration: none; }
th:not(:first-child), td:not(:first-child) { padding-right: 1em; }
thead th { text-align: left; }

.sortable.active:after{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sortable.active[data-dir="desc"]:after{content: " \f107";}
.sortable.active[data-dir="asc"]:after{content: " \f106";}

.hidden { display: none !important; }
.loading { font-size: .6em !important; margin-left: .6em; }
.right-align { text-align: right; }

.contents i.fa.file { color: rgba(60, 60, 60, 0.5); }
.contents i.fa.dir { color: rgba(180, 180, 180, 0.5); }

